# My first post with fastpages

- toc: false
- branch: master
- badges: true
- comments: false
- categories: [personal, data science]

In [1]:
print("Hello world")

Hello world

In [3]:
import pandas as pd
import numpy as np

pd.DataFrame({
    'a': np.random.sample(10),
    'b': np.random.sample(10)/2
})

          a         b
0  0.929214  0.464544
1  0.521751  0.051030
2  0.777646  0.028839
3  0.270206  0.020832
4  0.061954  0.208365
5  0.146290  0.074646
6  0.994034  0.262676
7  0.527353  0.027162
8  0.392875  0.451405
9  0.386635  0.337624