Parsing [Oscar Robertson's statmuse page](https://www.statmuse.com/nba/player/oscar-robertson-3116/game-log)

In [42]:
import re
import numpy as np

In [151]:
statmuse_header = 'DATE\tTM\tOPP\tSCORE\tMIN\tFGM\tFGA\tFG%\t3PM\t3PA\t3P%\tFTM\tFTA\tFT%\tOREB\tDREB\tREB\tAST\tSTL\tBLK\tTOV\tPF\tPTS\t+/-\n'

In [152]:
final_lines = []
files = ['1961.txt', '1962.txt', '1963.txt', '1964.txt', '1965.txt', '1966.txt', '1967.txt',
        '1968.txt', '1969.txt', '1970.txt', '1971.txt', '1972.txt', '1973.txt', '1974.txt']
skip_next = False
for filename in files:
    with open(filename, 'r') as f:
        statmusetext = f.readlines()
    for line in statmusetext:
        if skip_next:
            skip_next = False
            continue
        if line == statmuse_header:
            continue
        elif 'Average' in line:
            skip_next = True
        elif len(line.split('\t')) == 20:
            final_lines.append(line)
        elif len(line.split('\t')) == 19:
            line = '\t' + line
            final_lines.append(line)

In [153]:
header = 'MIN\tFGM\tFGA\tFG%\t3PM\t3PA\t3P%\tFTM\tFTA\tFT%\tOREB\tDREB\tREB\tAST\tSTL\tBLK\tTOV\tPF\tPTS\t+/-\n'

final_lines.insert(0, header)

In [154]:
import io
f = io.StringIO("".join(final_lines))

In [155]:
len(final_lines)

1041

In [156]:
import pandas as pd
df = pd.read_csv(f, delimiter='\t')
df.head()

,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,+/-
0,NaN,13,23.0,56.5,NaN,NaN,NaN,12,14,85.7,NaN,NaN,10.0,8.0,NaN,NaN,NaN,3.0,38,NaN
1,48.0,7,19.0,36.8,NaN,NaN,NaN,8,10,80.0,NaN,NaN,9.0,13.0,NaN,NaN,NaN,6.0,22,NaN
2,NaN,12,31.0,38.7,NaN,NaN,NaN,8,10,80.0,NaN,NaN,18.0,9.0,NaN,NaN,NaN,4.0,32,NaN
3,42.0,9,16.0,56.3,NaN,NaN,NaN,9,10,90.0,NaN,NaN,14.0,10.0,NaN,NaN,NaN,1.0,27,NaN
4,47.0,11,27.0,40.7,NaN,NaN,NaN,15,17,88.2,NaN,NaN,9.0,18.0,NaN,NaN,NaN,3.0,37,NaN

In [157]:
df.query("PTS >= 10 & REB >= 10 & AST >= 10").shape

(181, 20)

In [159]:
df.to_csv("robertson_regularseason.csv", index=False)